.text {
  font-family: "Brush Script MT", cursive;
  font-size: 36px;
  line-height: 1;
}

.button {
  font-family: "Brush Script MT", cursive;
  font-size: 24px;
}

.male-button {
  background-color: #0e49b5 !important;
}

.female-button {
  background-color: #ff99be !important;
}
