<!-- <h2 mat-dialog-title style="text-align: center">Inizia una partita</h2> -->
<mat-dialog-content>
  <div class="text">Indovina se sono un maschietto o una femminuccia!</div>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: space-around">
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="choiceGender('male')"
      class="button male-button"
    >
      Maschio
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="choiceGender('female')"
      class="button female-button"
    >
      Femmina
    </button>
  </div>
</mat-dialog-actions>
