<h2 mat-dialog-title style="text-align: center">Inizia una partita</h2>
<mat-dialog-content>
  <div *ngIf="!setPlayerNames">Giochi da solo o con un amico?</div>

  <div *ngIf="setPlayerNames">
    Inserisci i nomi dei giocatori

    <form [formGroup]="namesForm" style="margin-top: 10px">
      <mat-form-field appearance="outline" style="margin-right: 15px">
        <mat-label>Primo giocatore</mat-label>
        <input
          matInput
          placeholder="Primo giocatore"
          formControlName="firstPlayerName"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Secondo giocatore</mat-label>
        <input
          matInput
          placeholder="Secondo giocatore"
          formControlName="secondPlayerName"
        />
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: space-around">
  <div *ngIf="!setPlayerNames">
    <button mat-raised-button color="primary" (click)="choicePlayers(1)">
      Da solo
    </button>
    <button mat-raised-button color="primary" (click)="setPlayerNames = true">
      Con un amico
    </button>
  </div>

  <div *ngIf="setPlayerNames">
    <button mat-raised-button color="primary" mat-dialog-close>Annulla</button>
    <button
      mat-raised-button
      color="primary"
      (click)="choicePlayers(2)"
      [disabled]="!namesForm.valid"
    >
      Inizia
    </button>
  </div>
</mat-dialog-actions>
