.grid {
  display: grid;
  gap: 16px;

  justify-content: center;
}

.grid6 {
  grid-template-columns: repeat(6, 150px);
}

.grid7 {
  grid-template-columns: repeat(7, 150px);
}

.button__position {
  position: absolute;
  top: 23px;
  right: 5%;
}
