.grid {
  display: grid;
  gap: 16px;

  @media (max-width: 400px) {
    column-gap: 8px;
  }

  justify-content: center;
}

@media (max-width: 1249px) {
  .grid {
    grid-template-columns: repeat(6, 100px);
  }
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(4, 80px);
  }
}

@media (min-width: 1250px) {
  .grid6 {
    grid-template-columns: repeat(6, 150px);
  }

  .grid7 {
    grid-template-columns: repeat(7, 150px);
  }
}

.text {
  text-align: center;
  font-family: "Brush Script MT", cursive;
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
    2px 2px 0 #fff, 0px 0px 4px rgba(255, 255, 255, 0.9);
}

.title {
  font-size: 55px;

  @media (max-width: 1249px) {
    margin: 15px;
  }
}

.subtext {
  width: 80%;
  margin: 0 auto;
  font-size: 40px;
}
