.grid {
  display: grid;
  gap: 16px;

  justify-content: center;
}

@media (max-width: 1249px) {
  .grid {
    grid-template-columns: repeat(2, 150px);
  }
}

@media (min-width: 1250px) {
  .grid6 {
    grid-template-columns: repeat(6, 150px);
  }

  .grid7 {
    grid-template-columns: repeat(7, 150px);
  }
}
